*{
    box-sizing: border-box;
    margin: 0;
    font-family: FC-Orbit, sans-serif;
    color: white;
}
@font-face {
    font-family: FC-Orbit;
    src: url('../../GameFindItem/asset/font/FC_OrbitRounded.ttf');
    font-weight: bold;
}
html {
    scroll-behavior: smooth;
  }
body{
    overflow: hidden;
    --greenH1: #336666;
    --lightGreenH1: #339693;
    --greenH4: #4CA6C1;
}
.container{
    max-width: 1366px;
    width: 100%;
    max-height: 1024px;
    height: 1024px;
    margin: auto;
    /* aspect-ratio: 4/3; */

    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{font-size: 7rem;}
h2{font-size: 3rem;}
h3{font-size: 2rem;}
h4{font-size: 1.5rem;}

.content{
    width: 100%;
    max-width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    /* deafualt ชิดซ้าย */
    flex-direction: column;
    z-index: 2;
}
button{
    background: hsl(1, 100%, 100%, 30%);
    padding: .5rem 1.5rem;
    border-radius: 60px;
    border: none;
    cursor: pointer;
}
.boat{
    background-image: url('../asset/boat.png');
    background-position: center;
    background-size: cover;
    width: 1000px;
    height: 370px;
    margin-left: 200px;
}
.center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.light{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../asset/light.png');
    background-position: center;
    background-size: cover;
    z-index: 1;
    top: -40px;
    animation: oplight 2s infinite alternate,
    movelight 5s linear infinite;
}

@keyframes oplight {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes movelight {
    0% {
      left: -1000px;
    }
    100% {
      left: 1300px;
    }
  }
