.hitbox_rock5{
    --co: green;
    position: absolute;
    transform: scale(0.6);
    top: -100px;
    width: 300px;
    height: 490px;
}

.hitbox_rock4{
    --co: green;
    position: absolute;
    transform: scale(0.6);
    top: -100px;
    width: 300px;
    height: 490px;
}
.hitbox_rock3{
    --co: green;
    position: absolute;
    transform: scale(0.6);
    top: -100px;
    width: 300px;
    height: 490px;
}
.hitbox_rock2{
    --co: green;
    position: absolute;
    transform: scale(0.6);
    top: -100px;
    width: 300px;
    height: 490px;
}
.hitbox_rock1{
    --co: green;
    position: absolute;
    transform: scale(0.6);
    top: -100px;
    width: 300px;
    height: 490px;
}

.box1_rock5{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 310px;
    background-color: var(--co);
}

.box2_rock5{
    position: absolute;
    left: 50px;
    top: 0px;
    width: 50px;
    height: 360px;
    background-color: var(--co);
}
.box3_rock5{
    position: absolute;
    left: 100px;
    top: 0px;
    width: 50px;
    height: 400px;
    background-color: var(--co);
}
.box4_rock5{
    position: absolute;
    left: 150px;
    top: 0px;
    width: 50px;
    height: 440px;
    background-color: var(--co);
}

.box5_rock5{
    position: absolute;
    left: 200px;
    top: 0px;
    width: 70px;
    height: 490px;
    background-color: var(--co);
}
.box1_rock4{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 310px;
    background-color: var(--co);
}

.box2_rock4{
    position: absolute;
    left: 50px;
    top: 0px;
    width: 50px;
    height: 360px;
    background-color: var(--co);
}
.box3_rock4{
    position: absolute;
    left: 100px;
    top: 0px;
    width: 50px;
    height: 400px;
    background-color: var(--co);
}
.box4_rock4{
    position: absolute;
    left: 150px;
    top: 0px;
    width: 50px;
    height: 440px;
    background-color: var(--co);
}

.box5_rock4{
    position: absolute;
    left: 200px;
    top: 0px;
    width: 70px;
    height: 490px;
    background-color: var(--co);
}
.box6_rock4{
    position: absolute;
    left: 270px;
    top: 0px;
    width: 40px;
    height: 670px;
    background-color: var(--co);
}

.box7_rock4{
    position: absolute;
    left: 300px;
    top: 0px;
    width: 50px;
    height: 670px;
    background-color: var(--co);
}
.box8_rock4{
    position: absolute;
    left: 350px;
    top: 0px;
    width: 100px;
    height: 620px;
    background-color: var(--co);
}
.box9_rock4{
    position: absolute;
    left: 590px;
    top: 0px;
    width: 90px;
    height: 200px;
    background-color: var(--co);
}

.box10_rock4{
    position: absolute;
    left: 520px;
    top: 0px;
    width: 90px;
    height: 380px;
    background-color: var(--co);
}
.box11_rock4{
    position: absolute;
    left: 680px;
    top: 0px;
    width: 80px;
    height: 120px;
    background-color: var(--co);
}
.box12_rock4{
    position: absolute;
    left: 750px;
    top: 0px;
    width: 90px;
    height: 30px;
    background-color: var(--co);
}
.box1_rock3{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 210px;
    background-color: var(--co);
}

.box2_rock3{
    position: absolute;
    left: 50px;
    top: 0px;
    width: 50px;
    height: 260px;
    background-color: var(--co);
}
.box3_rock3{
    position: absolute;
    left: 100px;
    top: 0px;
    width: 50px;
    height: 300px;
    background-color: var(--co);
}
.box4_rock3{
    position: absolute;
    left: 150px;
    top: 0px;
    width: 50px;
    height: 340px;
    background-color: var(--co);
}

.box5_rock3{
    position: absolute;
    left: 200px;
    top: 0px;
    width: 70px;
    height: 420px;
    background-color: var(--co);
}
.box6_rock3{
    position: absolute;
    left: 300px;
    top: 0px;
    width: 40px;
    height: 300px;
    background-color: var(--co);
}
.box1_rock1{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 70px;
    background-color: var(--co);
}

.box2_rock1{
    position: absolute;
    left: 50px;
    top: 0px;
    width: 50px;
    height: 100px;
    background-color: var(--co); 
}
.box3_rock1{
    position: absolute;
    left: 100px;
    top: 0px;
    width: 100px;
    height: 190px;
    background-color: var(--co);
}
.box4_rock1{
    position: absolute;
    left: 150px;
    top: 0px;
    width: 100px;
    height: 240px;
    background-color: var(--co);
}

.box5_rock1{
    position: absolute;
    left: 200px;
    top: 0px;
    width: 100px;
    height: 300px;
    background-color: var(--co);
}
 .box6_rock1{
    position: absolute;
    left: 450px;
    top: 0px;
    width: 190px;
    height: 400px;
    background-color: var(--co);
}

.box7_rock1{
    position: absolute;
    left: 490px;
    top: 0px;
    width: 150px;
    height: 660px;
    background-color: var(--co);
}
.box8_rock1{
    position: absolute;
    left: 580px;
    top: 0px;
    width: 450px;
    height: 530px;
    background-color: var(--co);
}
.box9_rock1{
    position: absolute;
    left: 1000px;
    top: 0px;
    width: 300px;
    height: 320px;
    background-color: var(--co);
}

.box10_rock1{
    position: absolute;
    left: 1300px;
    top: 0px;
    width: 220px;
    height: 260px;
    background-color: var(--co);
}  
.box11_rock1{
    position: absolute;
    left: 1550px;
    top: 0px;
    width: 90px;
    height: 150px;
    background-color: var(--co);
}  
.box12_rock1{
    position: absolute;
    left: 1600px;
    top: 0px;
    width: 90px;
    height: 100px;
    background-color: var(--co);
}  
.box13_rock1{
    position: absolute;
    left: 1650px;
    top: 0px;
    width: 90px;
    height: 50px;
    background-color: var(--co);
}  
.box1_rock2{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 70px;
    background-color: var(--co);
}

.box2_rock2{
    position: absolute;
    left: 50px;
    top: 0px;
    width: 50px;
    height: 100px;
    background-color: var(--co); 
}
.box3_rock2{
    position: absolute;
    left: 150px;
    top: 0px;
    width: 100px;
    height: 190px;
    background-color: var(--co);
}
.box4_rock2{
    position: absolute;
    left: 220px;
    top: 0px;
    width: 100px;
    height: 240px;
    background-color: var(--co);
}

.box5_rock2{
    position: absolute;
    left: 290px;
    top: 0px;
    width: 100px;
    height: 300px;
    background-color: var(--co);
}
 .box6_rock2{
    position: absolute;
    left: 320px;
    top: 0px;
    width: 150px;
    height: 400px;
    background-color: var(--co);
}

.box7_rock2{
    position: absolute;
    left: 450px;
    top: 0px;
    width: 150px;
    height: 360px;
    background-color: var(--co);
}
.box8_rock2{
    position: absolute;
    left: 580px;
    top: 0px;
    width: 450px;
    height: 260px;
    background-color: var(--co);
}
.box9_rock2{
    position: absolute;
    left: 850px;
    top: 0px;
    width: 350px;
    height: 150px;
    background-color: var(--co);
}

.box10_rock2{
    position: absolute;
    left: 1020px;
    top: 0px;
    width: 250px;
    height: 50px;
    background-color: var(--co);
}  
