.hitbox_rock5{
    /* --co: green; */
    position: absolute;
    transform: scale(0.6);
    top: -100px;
    width: 300px;
    height: 490px;
}

.hitbox_rock4{
    /* --co: green; */
    position: absolute;
    transform: scale(0.6);
    top: -100px;
    width: 830px;
    height: 680px;
}
.hitbox_rock3{
    /* --co: green; */
    position: absolute;
    transform: scale(0.6);
    top: -100px;
    width: 350px;
    height: 430px;
}
.hitbox_rock2{
    /* --co: green; */
    position: absolute;
    transform: scale(0.6);
    top: -100px;
    width: 1300px;
    height: 410px;
}
.hitbox_rock1{
    /* --co: green; */
    position: absolute;
    transform: scale(0.6);
    top: -200px;
    width: 1750px;
    height: 670px;
}

.box1_rock5{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 310px;
    background-color: var(--co);
}

.box2_rock5{
    position: absolute;
    left: 50px;
    top: 0px;
    width: 50px;
    height: 360px;
    background-color: var(--co);
}
.box3_rock5{
    position: absolute;
    left: 100px;
    top: 0px;
    width: 50px;
    height: 400px;
    background-color: var(--co);
}
.box4_rock5{
    position: absolute;
    left: 150px;
    top: 0px;
    width: 50px;
    height: 440px;
    background-color: var(--co);
}

.box5_rock5{
    position: absolute;
    left: 200px;
    top: 0px;
    width: 70px;
    height: 490px;
    background-color: var(--co);
}
.box1_rock4{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 310px;
    background-color: var(--co);
}

.box2_rock4{
    position: absolute;
    left: 50px;
    top: 0px;
    width: 50px;
    height: 360px;
    background-color: var(--co);
}
.box3_rock4{
    position: absolute;
    left: 100px;
    top: 0px;
    width: 50px;
    height: 400px;
    background-color: var(--co);
}
.box4_rock4{
    position: absolute;
    left: 150px;
    top: 0px;
    width: 50px;
    height: 440px;
    background-color: var(--co);
}

.box5_rock4{
    position: absolute;
    left: 200px;
    top: 0px;
    width: 70px;
    height: 490px;
    background-color: var(--co);
}
.box6_rock4{
    position: absolute;
    left: 270px;
    top: 0px;
    width: 40px;
    height: 670px;
    background-color: var(--co);
}

.box7_rock4{
    position: absolute;
    left: 300px;
    top: 0px;
    width: 50px;
    height: 670px;
    background-color: var(--co);
}
.box8_rock4{
    position: absolute;
    left: 350px;
    top: 0px;
    width: 100px;
    height: 620px;
    background-color: var(--co);
}
.box9_rock4{
    position: absolute;
    left: 590px;
    top: 0px;
    width: 90px;
    height: 200px;
    background-color: var(--co);
}

.box10_rock4{
    position: absolute;
    left: 520px;
    top: 0px;
    width: 90px;
    height: 380px;
    background-color: var(--co);
}
.box11_rock4{
    position: absolute;
    left: 680px;
    top: 0px;
    width: 80px;
    height: 120px;
    background-color: var(--co);
}
.box12_rock4{
    position: absolute;
    left: 750px;
    top: 0px;
    width: 90px;
    height: 30px;
    background-color: var(--co);
}
.box1_rock3{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 210px;
    background-color: var(--co);
}

.box2_rock3{
    position: absolute;
    left: 50px;
    top: 0px;
    width: 50px;
    height: 260px;
    background-color: var(--co);
}
.box3_rock3{
    position: absolute;
    left: 100px;
    top: 0px;
    width: 50px;
    height: 300px;
    background-color: var(--co);
}
.box4_rock3{
    position: absolute;
    left: 150px;
    top: 0px;
    width: 50px;
    height: 340px;
    background-color: var(--co);
}

.box5_rock3{
    position: absolute;
    left: 200px;
    top: 0px;
    width: 70px;
    height: 420px;
    background-color: var(--co);
}
.box6_rock3{
    position: absolute;
    left: 300px;
    top: 0px;
    width: 40px;
    height: 300px;
    background-color: var(--co);
}
.box1_rock1{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 70px;
    background-color: var(--co);
}

.box2_rock1{
    position: absolute;
    left: 50px;
    top: 0px;
    width: 50px;
    height: 100px;
    background-color: var(--co); 
}
.box3_rock1{
    position: absolute;
    left: 100px;
    top: 0px;
    width: 100px;
    height: 190px;
    background-color: var(--co);
}
.box4_rock1{
    position: absolute;
    left: 150px;
    top: 0px;
    width: 100px;
    height: 240px;
    background-color: var(--co);
}

.box5_rock1{
    position: absolute;
    left: 200px;
    top: 0px;
    width: 100px;
    height: 300px;
    background-color: var(--co);
}
 .box6_rock1{
    position: absolute;
    left: 450px;
    top: 0px;
    width: 190px;
    height: 400px;
    background-color: var(--co);
}

.box7_rock1{
    position: absolute;
    left: 490px;
    top: 0px;
    width: 150px;
    height: 660px;
    background-color: var(--co);
}
.box8_rock1{
    position: absolute;
    left: 580px;
    top: 0px;
    width: 450px;
    height: 530px;
    background-color: var(--co);
}
.box9_rock1{
    position: absolute;
    left: 1000px;
    top: 0px;
    width: 300px;
    height: 320px;
    background-color: var(--co);
}

.box10_rock1{
    position: absolute;
    left: 1300px;
    top: 0px;
    width: 220px;
    height: 260px;
    background-color: var(--co);
}  
.box11_rock1{
    position: absolute;
    left: 1550px;
    top: 0px;
    width: 90px;
    height: 150px;
    background-color: var(--co);
}  
.box12_rock1{
    position: absolute;
    left: 1600px;
    top: 0px;
    width: 90px;
    height: 100px;
    background-color: var(--co);
}  
.box13_rock1{
    position: absolute;
    left: 1650px;
    top: 0px;
    width: 90px;
    height: 50px;
    background-color: var(--co);
}  
.box1_rock2{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 70px;
    background-color: var(--co);
}

.box2_rock2{
    position: absolute;
    left: 50px;
    top: 0px;
    width: 50px;
    height: 100px;
    background-color: var(--co); 
}
.box3_rock2{
    position: absolute;
    left: 150px;
    top: 0px;
    width: 100px;
    height: 190px;
    background-color: var(--co);
}
.box4_rock2{
    position: absolute;
    left: 220px;
    top: 0px;
    width: 100px;
    height: 240px;
    background-color: var(--co);
}

.box5_rock2{
    position: absolute;
    left: 290px;
    top: 0px;
    width: 100px;
    height: 300px;
    background-color: var(--co);
}
 .box6_rock2{
    position: absolute;
    left: 320px;
    top: 0px;
    width: 150px;
    height: 400px;
    background-color: var(--co);
}

.box7_rock2{
    position: absolute;
    left: 450px;
    top: 0px;
    width: 150px;
    height: 360px;
    background-color: var(--co);
}
.box8_rock2{
    position: absolute;
    left: 580px;
    top: 0px;
    width: 450px;
    height: 260px;
    background-color: var(--co);
}
.box9_rock2{
    position: absolute;
    left: 850px;
    top: 0px;
    width: 350px;
    height: 150px;
    background-color: var(--co);
}

.box10_rock2{
    position: absolute;
    left: 1020px;
    top: 0px;
    width: 250px;
    height: 50px;
    background-color: var(--co);
}  

.hitbox_coral1{
    /* --co: green; */
    position: absolute;
    transform: scale(0.6);
    bottom: -100px;
    width: 1234px;
    height: 543px;
}
.hitbox_coral2{
    /* --co: green; */
    position: absolute;
    transform: scale(0.6);
    bottom: -290px;
    width: 577px;
    height: 861px;
}
.hitbox_coral3{
    /* --co: green; */
    position: absolute;
    transform: scale(0.6);
    bottom: -100px;
    width: 1204px;
    height: 606px;
}
.hitbox_coral4{
    /* --co: green; */
    position: absolute;
    transform: scale(0.6);
    bottom: -100px;
    width: 675px;
    height: 371px;
}
.hitbox_coral5{
    /* --co: green; */
    position: absolute;
    transform: scale(0.6);
    bottom: -100px;
    width: 945px;
    height: 693px;
}
.hitbox_coral6{
    /* --co: green; */
    position: absolute;
    transform: scale(0.6);
    bottom: -180px;
    width: 612px;
    height: 610px;
}

.box1_coral1{
    position: absolute;
    left: 250px;
    bottom: 0px;
    width: 100px;
    height: 350px;
    background-color: var(--co);
}

.box2_coral1{
    position: absolute;
    left: 350px;
    bottom: 0px;
    width: 50px;
    height: 390px;
    background-color: var(--co);
}
.box3_coral1{
    position: absolute;
    left: 400px;
    bottom: 0px;
    width: 200px;
    height: 370px;
    background-color: var(--co);
}
.box4_coral1{
    position: absolute;
    left:600px;
    bottom: 0px;
    width:110px;
    height: 440px;
    background-color: var(--co);
}

.box5_coral1{
    position: absolute;
    left: 700px;
    bottom: 0px;
    width: 70px;
    height: 390px;
    background-color: var(--co);
}
.box6_coral1{
    position: absolute;
    left: 750px;
    bottom: 0px;
    width: 200px;
    height: 340px;
    background-color: var(--co);
}
.box1_coral2{
    position: absolute;
    left: 110px;
    bottom: 0px;
    width: 350px;
    height: 540px;
    background-color: var(--co);
}

.box2_coral2{
    position: absolute;
    left: 180px;
    bottom: 0px;
    width: 30px;
    height: 630px;
    background-color: var(--co);
}
.box3_coral2{
    position: absolute;
    left: 380px;
    bottom: 0px;
    width: 30px;
    height: 690px;
    background-color: var(--co);
}
.box4_coral2{
    position: absolute;
    left: 430px;
    bottom: 0px;
    width: 30px;
    height: 570px;
    background-color: var(--co);
}
.box1_coral3{
    position: absolute;
    left: 240px;
    bottom: 0px;
    width: 260px;
    height: 400px;
    background-color: var(--co);
}

.box2_coral3{
    position: absolute;
    left: 560px;
    bottom: 0px;
    width: 260px;
    height: 440px;
    background-color: var(--co);
}
.box3_coral3{
    position: absolute;
    left: 650px;
    bottom: 0px;
    width: 100px;
    height: 480px;
    background-color: var(--co);
}
.box4_coral3{
    position: absolute;
    left: 810px;
    bottom: 0px;
    width: 150px;
    height: 260px;
    background-color: var(--co);
}
.box1_coral4{
    position: absolute;
    left: 140px;
    bottom: 0px;
    width: 320px;
    height: 280px;
    background-color: var(--co);
}

.box2_coral4{
    position: absolute;
    left: 450px;
    bottom: 0px;
    width: 90px;
    height: 250px;
    background-color: var(--co);
}
.box3_coral4{
    position: absolute;
    left: 190px;
    bottom: 0px;
    width: 90px;
    height: 300px;
    background-color: var(--co);
}

.box1_coral5{
    position: absolute;
    left: 200px;
    bottom: 0px;
    width: 100px;
    height: 300px;
    background-color: var(--co);
}

.box2_coral5{
    position: absolute;
    left: 280px;
    bottom: 0px;
    width: 150px;
    height: 410px;
    background-color: var(--co);
}
.box3_coral5{
    position: absolute;
    left: 420px;
    bottom: 0px;
    width: 150px;
    height: 500px;
    background-color: var(--co);
}
.box4_coral5{
    position: absolute;
    left: 530px;
    bottom: 0px;
    width: 120px;
    height: 550px;
    background-color: var(--co);
}

.box5_coral5{
    position: absolute;
    left: 650px;
    bottom: 0px;
    width: 90px;
    height: 470px;
    background-color: var(--co);
}
.box1_coral6{
    position: absolute;
    left: 120px;
    bottom: 0px;
    width: 100px;
    height: 350px;
    background-color: var(--co);
}

.box2_coral6{
    position: absolute;
    left: 220px;
    bottom: 0px;
    width: 150px;
    height: 430px;
    background-color: var(--co);
}
.box3_coral6{
    position: absolute;
    left: 300px;
    bottom: 0px;
    width: 90px;
    height: 490px;
    background-color: var(--co);
}
.box4_coral6{
    position: absolute;
    left: 390px;
    bottom: 0px;
    width: 70px;
    height: 435px;
    background-color: var(--co);
}

.box5_coral6{
    position: absolute;
    left: 460px;
    bottom: 0px;
    width: 30px;
    height: 350px;
    background-color: var(--co);
}
