.obj1{
    left: 1000px;
}

.obj2{
    left: 1100px;
}

.obj3{
    left: 1500px;
}

.obj4{
    left: 2300px;
}

.obj5{
    left: 2000px;
}

.obj6{
    left: 2800px;
}

.obj7{
    left: 2600px;
}

.obj8{
    left: 2800px;
}


