.obj1{
    left: 1000px;
}

.obj2{
    left: 1100px;
}

.obj3{
    left: 1500px;
}

.obj4{
    left: 2300px;
}

.obj5{
    left: 2000px;
}

.obj6{
    left: 2800px;
}

.obj7{
    left: 2600px;
}

.obj8{
    left: 2800px;
}

.obj9{
    left: 3000px;
}

.obj10{
    left: 3500px;
}

.obj11{
    left: 4000px;
}

.obj12{
    left: 4500px;
}

.obj13{
    left: 5000px;
}

.obj14{
    left: 5500px;
}

.obj15{
    left: 6000px;
}

.obj16{
    left: 6500px;
}

.obj17{
    left: 7000px;
}

.obj18{
    left: 7500px;
}
.obj19{
    left: 8000px;
}

.obj20{
    left: 8500px;
}

.obj21{
    left: 9000px;
}

.obj22{
    left: 9500px;
}

.obj23{
    left: 10000px;
}

.obj24{
    left: 10500px;
}

.obj25{
    left: 11000px;
}

.obj26{
    left: 11500px;
}

.obj27{
    left: 12000px;
}
.obj28{
    left: 12500px;
}

.obj29{
    left: 13000px;
}

.obj30{
    left: 13500px;
}

.obj31{
    left: 14000px;
}

.obj32{
    left: 14500px;
}

.obj33{
    left: 15000px;
}

.obj34{
    left: 15500px;
}

.obj35{
    left: 16000px;
}

.obj36{
    left: 16500px;
}
.obj37{
    left: 17000px;
}

.obj38{
    left: 17500px;
}

.obj39{
    left: 18000px;
}

.obj40{
    left: 18500px;
}

.obj41{
    left: 19000px;
}

.obj42{
    left: 19500px;
}

.obj43{
    left: 20000px;
}

.obj44{
    left: 20500px;
}

.obj45{
    left: 21000px;
}
.obj46{
    left: 21500px;
}

.obj47{
    left: 22000px;
}

.obj48{
    left: 22500px;
}

.obj49{
    left: 23000px;
}

.obj50{
    left: 23500px;
}

.obj51{
    left: 24000px;
}

.obj52{
    left: 24500px;
}

.obj53{
    left: 25000px;
}

.obj54{
    left: 25500px;
}
.obj55{
    left: 26000px;
}

.obj56{
    left: 26500px;
}

.obj57{
    left: 27000px;
}

.obj58{
    left: 27500px;
}

.obj59{
    left: 28000px;
}

.obj60{
    left: 28500px;
}

.obj61{
    left: 29000px;
}

.obj62{
    left: 29500px;
}

.obj63{
    left: 30000px;
}
.obj64{
    left: 30500px;
}

.obj65{
    left: 31000px;
}

.obj66{
    left: 31500px;
}

.obj67{
    left: 32000px;
}

.obj68{
    left: 32500px;
}

.obj69{
    left: 33000px;
}

.obj70{
    left: 33500px;
}

.obj71{
    left: 34000px;
}

.obj72{
    left: 34500px;
}
.obj73{
    left: 35000px;
}

.obj74{
    left: 35500px;
}

.obj75{
    left: 36000px;
}

.obj76{
    left: 36500px;
}

.obj77{
    left: 37000px;
}

.obj78{
    left: 37500px;
}

.obj79{
    left: 38000px;
}

.obj80{
    left: 38500px;
}

.obj81{
    left: 39000px;
}
.obj82{
    left: 39500px;
}

.obj83{
    left: 40000px;
}

.obj84{
    left: 40500px;
}

.obj85{
    left: 41000px;
}

.obj86{
    left: 41500px;
}

.obj87{
    left: 42000px;
}

.obj88{
    left: 42500px;
}

.obj89{
    left: 43000px;
}

.obj90{
    left: 43500px;
}
.obj91{
    left: 44000px;
}

.obj92{
    left: 44500px;
}

.obj93{
    left: 45000px;
}

.obj94{
    left: 45500px;
}

.obj95{
    left: 46000px;
}

.obj96{
    left: 46500px;
}

.obj97{
    left: 47000px;
}

.obj98{
    left: 47500px;
}

.obj99{
    left: 48000px;
}
.obj100{
    left: 48500px;
}

.obj101{
    left: 49000px;
}

.obj102{
    left: 49500px;
}

.obj103{
    left: 50000px;
}
.obj104{
    left: 50500px;
}

.obj105{
    left: 51000px;
}

.obj106{
    left: 51500px;
}

.obj107{
    left: 52000px;
}

.obj108{
    left: 52500px;
}

.obj109{
    left: 53000px;
}
.obj110{
    left: 53500px;
}

.obj111{
    left: 54000px;
}

.obj112{
    left: 54500px;
}

.obj113{
    left: 55000px;
}

.obj114{
    left: 55500px;
}

.obj115{
    left: 56000px;
}

.obj116{
    left: 56500px;
}

.obj117{
    left: 57000px;
}

.obj118{
    left: 57500px;
}

.obj119{
    left: 58000px;
}
.obj120{
    left: 58500px;
}

.obj121{
    left: 59000px;
}
.obj122{
    left: 59500px;
}

.obj123{
    left: 60000px;
}

.obj124{
    left: 60500px;
}

.obj125{
    left: 61000px;
}

.obj126{
    left: 61500px;
}

.obj127{
    left: 62000px;
}

.obj128{
    left: 62500px;
}

.obj129{
    left: 63000px;
}
.obj130{
    left: 63500px;
}

.obj131{
    left: 64000px;
}

.obj132{
    left: 64500px;
}

.obj133{
    left: 65000px;
}

.obj134{
    left: 65500px;
}

.obj135{
    left: 66000px;
}

.obj136{
    left: 66500px;
}

.obj137{
    left: 67000px;
}

.obj138{
    left: 67500px;
}

.obj139{
    left: 68000px;
}
.obj140{
    left: 68500px;
}

.obj141{
    left: 69000px;
}

.obj142{
    left: 69500px;
}

.obj143{
    left: 70000px;
}

.obj144{
    left: 70500px;
}

.obj145{
    left: 71000px;
}

.obj146{
    left: 71500px;
}

.obj147{
    left: 72000px;
}

.obj148{
    left: 72500px;
}

.obj149{
    left: 73000px;
}
.obj150{
    left: 73500px;
}

.obj151{
    left: 74000px;
}

.obj152{
    left: 74500px;
}

.obj153{
    left: 75000px;
}

.obj154{
    left: 75500px;
}
