

.o1{
    left: 1000px;
    top: -200px;
}

.o8{
    left: 2000px;
    top: -200px;
}

.o9{
    left: 3000px;
    top: -200px;
}

.o10{
    left: 4000px;
    top: -200px;
}

.o11{
    left: 5000px;
    top: -200px;
}


.o2{
    left: 500px;
    bottom: -100px;
}

.o3{
    left: 1500px;
    bottom: -200px;
}

.o4{
    left: 3500px;
    bottom: -200px;
}

.o5{
    left: 2000px;
    bottom: 0px;
}

.o6{
    left: 4500px;
    bottom: -250px;
}

.o7{
    left: 3000px;
    bottom: -100px;
}