body{
    overflow: hidden;
}

.screen{
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

.background{
    /* position: absolute; */
    margin: 0;
    left: 0;
    top: 0;
}

.level{
    margin: 0;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: calc(7164px / 2) repeat(2, calc(7557px / 2));
    height: 100%;
    width: calc(7164px + calc(7557px * 2));
    /* animation: movebg 60s linear; */
}

#level_1{
    width: calc(7164px / 2);
    height: 100vh;
    background-image: url("BG/game-01.png");
    background-color: blue;
    background-size: cover;
    background-repeat: no-repeat;
    /* transform: translateX(0px); */
    /* animation: movebg 10s linear; */
}

#level_2{
    width: calc(7557px / 2);
    height: 100vh;
    background-image: url("BG/game-02.png");
    background-color: blue;
    background-size: cover;
    background-repeat: no-repeat;
    /* transform: translateX(calc(7164px / 2)); */
    /* animation: movebg2 10s linear infinite; */
}


.player{
    --poy: 70%;
    --cor: green;
    position: absolute;
    top: var(--poy);
    left: 10%;
    width: 400px;
    height: 200px;
    /* background-color: var(--cor); */
    transition: top 1s linear;
}

.p_body{
    position: absolute;
    background-image: url("Body/body.png");
    width: 167px;
    height: 121px;
    left: 125px;
    top: 25px;
}

.p_head{
    position: absolute;
    background-image: url("Body/head.png");
    width: 158px;
    height: 163px;
    left: 161px;
    top: -38px
}

.p_arm_up{
    position: absolute;
    background-image: url("Body/arm_up.png");
    width: 154px;
    height: 80px;
    left: 280px;
    top: 26px
}

.p_arm_down{
    position: absolute;
    background-image: url("Body/arm_down.png");
    width: 174px;
    height: 139px;
    left: 229px;
    top: 104px
}

.p_leg_up{
    position: absolute;
    background-image: url("Body/full_leg_up.png");
    width: 411px;
    height: 231px;
    left: -229px;
    top: -104px
}

.p_leg_down{
    position: absolute;
    background-image: url("Body/full_leg_down.png");
    width: 509px;
    height: 116px;
    left: -337px;
    top: 51px
}

.ob_top{
    position: absolute;
    top: 0%;
    width: 100px;
    height: 200px;
    transform: translateX(-500%);
    background-color: red;
    /* animation: ob_move 5s linear; */
}

.ob_bottom{
    position: absolute;
    bottom: 0%;
    width: 100px;
    height: 200px;
    transform: translateX(-500%);
    background-color: red;
    /* animation: ob_move 5s linear; */
}

@keyframes ob_move{
    0%{transform: translateX(1500%);};
    100%{transform: translateX(-500%);};
}

@keyframes movebg{
    0% {transform: translateX(0%);}
    100% {transform: translateX(-100%);}
}

@keyframes movebg2{
    0% {transform: translateX(7164px);}
    100% {transform: translateX(-100%);}
}