body{
    overflow: hidden;
}

.screen{
    height: 100vh;
    width: 7164px;
    margin: 0;
    padding: 0;
    background-image: url(BG/game-01.png);
    background-repeat: no-repeat;
    background-position: center center;
    font-family: FC-Orbit, sans-serif;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    -webkit-tap-highlight-color: transparent;
    z-index: 2;
    animation: movebg 10s linear infinite;
}

.player{
    --poy: 70%;
    --cor: green;
    position: absolute;
    top: var(--poy);
    left: 10%;
    width: 400px;
    height: 200px;
    background-color: var(--cor);
    transition: top 1s linear;
}

.ob_top{
    position: absolute;
    top: 0%;
    width: 100px;
    height: 200px;
    transform: translateX(-500%);
    background-color: red;
    animation: ob_move 5s linear;
}

.ob_bottom{
    position: absolute;
    bottom: 0%;
    width: 100px;
    height: 200px;
    transform: translateX(-500%);
    background-color: red;
    animation: ob_move 5s linear;
}

@keyframes ob_move{
    0%{transform: translateX(1500%);};
    100%{transform: translateX(-500%);};
}

@keyframes movebg{
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%); /* 100% คือค่าของการเลื่อนที่สุดขวา */
    }
}