.cloud1_1,.cloud1_8{
    opacity: 0;
    animation: cloud 20s 2s linear infinite;
}

.cloud2_1,.cloud3_8{
    opacity: 0;
    animation: cloud 23s linear infinite;
}

.cloud3_18,.cloud2_8{
    opacity: 0;
    animation: cloud 25s 5s linear infinite;
}

.wave_1,.sky_8{
    animation: wave1 2s 0s  linear alternate infinite;
}

.wave_8{
    animation: wave1 10s 0s  linear alternate infinite;
}

.lifebelt2_1{
    animation: lifebelt 3s 0s  alternate infinite;

}

.lifebelt1_1,.lifebelt_2{
    animation: lifebelt 5s 0s alternate infinite;

}

.bird1_1,.bird1_8{
    animation: bird 6s 0s linear alternate infinite;
}

.bird2_1,.bird2_8{
    animation: bird 5s 0s linear alternate infinite;
}

.bird3_1,.bird3_8{
    animation: bird 7s 0s linear alternate infinite;
}

.leftLeg{
    width: 300px;
    height: 300px;
    top: 550px;
    left: 220px;
    animation: rightLeg 3s 1s ease-out alternate infinite;
}
.rightLeg{
    width: 300px;
    height: 300px;
    top: 605px;
    left: 175px;
    animation: rightLeg 3s ease-out alternate infinite;
}
.frontleg_2{
    top: 0;
    left: 0;
}
.frontfoot_2{
    top:-110px;
    left: -135px;
    /* animation: rightLeg 2s ease-out alternate infinite; */
}

.backfoot_2{
    top: -5px;
    left: 33px;
}

.frontarm_2{
    top: 875px;
    animation: frontarm 5s ease-out alternate infinite;
}
.backarm_2{
    top: 875px;
    animation: frontarm 4s ease-out alternate infinite;
}

.hair_2{
    top: 750px;
    animation: hair 4s ease-out alternate infinite;
}

.head_2,.mouth_2{
    top:800px;
    animation: head 4s ease-out alternate infinite;
}

.head_8,.hat_8,.hair_8{
    
    animation: head 4s ease-out alternate infinite;
}

.light_2{
    left: 0;
    animation: light1 10s linear infinite;
}

.lightwave_2{
    left: 0;
    animation: light2 5s linear infinite;
}

.islandwave_2,.wave_4{
    left: 0;
    animation: light2 5s linear infinite;
}

.female{
    animation: female 10s  alternate infinite;
}
.body_2{
    top: 830px;
}

.fishback_2,.fishbg_3,.fishback_6{
    animation: light2 10s linear infinite;
}


.light_3{
    animation: light3 5s linear infinite;
}

.light_3.l2{
    animation: light3 10s 2s linear infinite;
}

.shark_3,.boat1_8{
    animation: shark 7s  alternate infinite;
}
.boat2_8{
    animation: movefishflip 5s  alternate infinite;
}

.angel1_3 ,.trash1_6,.fish2_7{
    animation: movefish 5s  alternate infinite;
}
.angel2_3 ,.trash3_6,.fish1_7{
    animation: movefish 3s  alternate infinite;
}

.flyfish_3{
    animation: movefish 4s  alternate infinite;
}

.flyworm_3,.trash2_6{
    animation: movefish 8s  alternate infinite;
}

.bubble1_4,.bubble1_7{
    animation: movebubble 5s linear infinite;
}

.bubble2_4,.bubble2_7{
    animation: movebubble 3s linear infinite;
}

.light_5,.light_6,.light_7,.light_8{
    animation: light4 3s linear infinite;
}

.light_5.l2{
    left: 0px;
    animation: light4 4s linear  infinite;
}

@keyframes movebubble {
    0% {opacity: 0; transform: translateY(0px);}
    25% {opacity: .7; transform: translateY(-20px);}
    75% {opacity: .7; transform: translateY(-40px);}
    100% {opacity: 0; transform: translateY(-50px);}
}

@keyframes cloud{
    0%{
        transform: translateX(0px);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    100%{
        transform: translateX(500px);
        opacity: 0;
    }
}

@keyframes wave1{
    0%{
        opacity: 1;
        transform: translateX(-20px);
    }
    50%{
        opacity: 1;
    }
   
    100%{
        opacity: 0;
        transform: translateX(20px);
    }
}

@keyframes lifebelt{
    0%{
      
        transform: translateX(-20px);
    }
   
    100%{
     
        transform: translateX(20px) rotateZ(5deg);
    }
}

@keyframes bird {
    0%{
      
        transform: translateX(-5px) rotateZ(-5deg);
    }
   
    100%{
     
        transform: translateX(5px) translateY(-30px) rotateZ(5deg);
    }
}

@keyframes rightLeg{
    0%{
        transform: rotateZ(0deg) translateY(0px);
    }
    100%{
        transform: rotateZ(5deg) translateY(-10px) translateX(10px);
    }
}

@keyframes frontarm{
    0%{
        transform: rotateZ(-5deg) translateY(0px);
    }
    100%{
        transform: rotateZ(15deg) translateY(-15px) translateX(-10px);
    }
}

@keyframes hair{
    0%{
        transform: rotateZ(-5deg) translateY(0px) translateX(-20px);
    }
    100%{
        transform: rotateZ(15deg) translateY(-10px) translateX(-10px);
    }
}

@keyframes head{
    0%{
        transform: rotateZ(0deg) translateY(0px) translateX(0px);
    }
    100%{
        transform: rotateZ(5deg) translateY(-5px) translateX(0px);
    }
}

@keyframes light1{
    0%{
        opacity: 0;
        transform: rotateZ(20deg);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateX(1000px) rotateZ(-50deg);
    }
}

@keyframes light2{
    0%{
        opacity: 0;

    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateX(200px) ;
    }
}

@keyframes light3{
    0%{
        opacity: 0;
        transform: translateX(50px) rotateZ(0deg);
    }
    25%{opacity: 1;}
    50%{opacity: 0;}
    75%{opacity: 1;}
    100%{
        opacity: 0;
        transform: translateX(-50px) translateY(-70px) rotateZ(7deg);
    }
}

@keyframes female{
    0%{
      
        transform: translateX(50px) rotateZ(0deg);
    }
   
    100%{
     
        transform: translateX(-50px) translateY(-70px) rotateZ(7deg);
    }
}

@keyframes shark{
    0%{
        transform: translateX(20px) translateY(-10px) rotateZ(-5deg);
    }


    100%{
        transform: translateX(0px) translateY(0px) rotateZ(5deg);
    }

}

@keyframes movefish {
    0% {transform: translate(0px,0px);}
    100% {transform: translate(10px,-10px);}
}

@keyframes light4{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}

@keyframes movefishflip {
    0% {transform: translate(0px,0px) rotateY(180deg);}
    100% {transform: translate(10px,-10px) rotateY(180deg);}
}

