*{
    box-sizing: border-box;
    margin: 0;
    font-family: FC-Orbit, sans-serif;
    /* color: white; */
}
@font-face {
    font-family: FC-Orbit;
    src: url('../../GameFindItem/asset/font/FC_OrbitRounded.ttf');
    font-weight: bold;
}
html {
    scroll-behavior: smooth;
  }
/* body{
    overflow: hidden;
} */

body{
    position: absolute;
    overflow: hidden;
    top: 0;
    width: 100%;
    background: #222;
}

.grain{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    background-image: url('../asset/grain.png');
}

h1{z-index: 100; font-size: 8rem; line-height: 130%;}
h2{z-index: 100; font-size: 4.5rem; line-height: 130%;}
h3{z-index: 100; font-size: 2rem; line-height: 130%;}
h4{z-index: 100; font-size: 1.8rem; line-height: 130%;}

button{
    width: fit-content;
    background: none;
    /* padding: .75rem 2rem; */
    /* border-radius: 60px; */
    align-items: center;
    border: none;
    cursor: pointer;
    z-index: 10;
    transition: all .5s;
}

.outterbutton{
    position: relative;
    width: fit-content;
    background: linear-gradient(90deg, rgba(222,161,62,255) 0%, rgba(249,211,146,255) 50%, rgba(222,161,62,255) 100%);
    padding: .4rem .4rem;
    border-radius: 60px;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    transition: all .5s;
}

.innerbutton{
    width: fit-content;
    background: linear-gradient(90deg, rgba(93,201,248,255)0%, rgba(156,250,244,255) 51%, rgba(93,201,248,255)100%);
    padding: .65rem 1.8rem;
    border-radius: 60px;
    align-items: center;
    border-bottom: 5px solid #7dd0d4;
    cursor: pointer;
    z-index: 10;
    transition: all .5s;
    color: #3c8b9e;
}

.innerbutton::after{
    content: "";
    left: 30%;
    top: 13%;
    width: 40%; 
    height: 4px;
    position: absolute; 
    background-color: white;
    border-radius: 100%;
}

.star1{
    position: absolute;
    bottom: -6%;
    left: -1%;
    scale: 0.8;
}
.star2{
    position: absolute;
    top: -7%;
    right: -3%;
    scale: 0.9;
    rotate: 45deg;
}

.dec{
    position: absolute;
}

.container{
    margin: auto;
    width: 100%;
    position: relative;
    max-width: 1194px;
    overflow: hidden;
}

.wallpaper{
    width: 100%;
}

.wallpaper > img{
    max-width: 100%;
    min-height: 834px;
    z-index: -1;
}

img{
    object-fit: cover;
    vertical-align: top;
}

.content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.textpage1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
    color: #0f52b5;
}

.buttonpage1{
    color: #4ca6c1;
    margin-top: 50%;
}

.cloud1_1{
    top: 15%;
    left: 17%;
}

.cloud2_1{
    top: 13%;
    left: 65%;
}

.cloud3_1{
    top: 35%;
    left: 5%;
}

.bird1_1{
    top: 35%;
    left: 5%;
}

.bird2_1{
    top: 20%;
    left: 8%;
    filter: blur(1px);
}

.bird3_1{
    top: 10%;
    left: 23%;
    filter: blur(2px);
}

.wave_1{
    width: 150%;
    bottom: -12.5%;
    left: -10%;
    z-index: 1;
}

.lifebelt1_1{
    bottom: -12%;
    left: 72%;
    z-index: 2;
    filter: blur(2px);
}

.lifebelt2_1{
    top: 77%;
    left: 60%;
    z-index: 2;
}

.textpage2{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35%;
    color: #0f52b5;
    transition: 2s 0s;
    opacity: 0;
    position: relative;
    z-index: 100;
}

.buttonpage2{
    color: #4ca6c1;
    margin-top: 3%;
}

.wave_2{
    top: -16%;
    left: 0;
}

.lifebelt_2{
    top: -8%;
    left: 72%;
}

.fishback_2{
    top: 50%;
    left: 10%;
}

.island_2{
    bottom: -5%;
    left: 0;
    transition: 4s;
}

.islandwave_2{
    bottom: -5%;
    left: -10%;
    transition: 3s;
}

.seaweedback_2{
    --cb: 4px;
    top: 20%;
    right: -8%;
    transition: 3s 1s;
    filter: blur(var(--cb));
}

.seaweedleft_2{
    --cb: 4px;
    top: 45%;
    left: -7.5%;
    transition: 2s .3s;
    filter: blur(var(--cb));
}

.seaweedright1_2{
    --cb: 6px;
    top: 38%;
    right: -4%;
    transition: 1.7s ;
    filter: blur(var(--cb));
}

.seaweedright2_2{
    --cb: 4px;
    top: 46%;
    right: -7%;
    transition: 1.3s 0.2s;
    filter: blur(var(--cb));
}

.coral1_2{
    --cb: 6px;
    bottom: -1%;
    right: -10%;
    filter: blur(var(--cb));
}

.coral2_2{
    --cb: 6px;
    bottom: -1%;
    left: 7%;
    filter: blur(var(--cb));
}

.backarm_2{
    top: 80%;
    left: 40%;
}
.backfoot_2{
    top: 50%;
    left: 20.1%;
}
.backleg_2{
    top: 68%;
    left: 23%;
}
.body_2{
    top: 76%;
    left: 35%;
}
.frontarm_2{
    top: 79.5%;
    left: 33%;
}
.frontfoot_2{
    top: 45.5%;
    left: 3.75%;
}
.frontleg_2{
    top: 55.5%;
    left: 15%;
}
.hair_2{
    top: 67.5%;
    left: 37%;
}
.head_2{
    top: 72%;
    left: 49%;
}
.mouth_2{
    top: 71%;
    left: 52%;
}

.light_2{
    top: 15%;
    left: 15%;
}

.lightwave_2{
    top: 8%;
    left: 0;
}

.textpage3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
    margin-left: 10%;
    width: fit-content;
    color: #0f52b5;
    transition: 1.5s 0s;
    position: relative;
    z-index: 100;
    opacity: 0;
}

.buttonpage3{
    color: #4ca6c1;
    margin-top: 3%;
    align-self: center;
}

.fishbg_3{
    top: 12%;
    left: 12%;
}

.sceneback_3{
    width: 105%;
    bottom: 0%;
    left: 0;
    transition: 3s ;
}
.seaweedmid_3{
    bottom: 0%;
    left: 50%;
    transition: 2.5s 1s;
}

.seaweedbackleft_3{
    bottom: 30%;
    left: 2%;
    transition: 2.5s 1s;
}

.scenemid_3{
    width: 110%;
    bottom: 10%;
    left: -5%;
    transition: 2.5s 0.3s;
    
}

.coralmid_3{
    --cbb: 2px;
    transition: 1s 1s;
    bottom: 0;
    left: -3%;
    filter: blur(var(--cbb));
}

.scenefront_3{
    bottom: 10%;
    left: 0;
    transition: 1.8s;
}

.coralfront1_3{
    --cbb: 10px;
    bottom: -5%;
    right: -3.5%;
    filter: blur(var(--cbb));
    transition: 1s;
   
}

.coralfront2_3{
    --cbb: 10px;
    bottom: -5%;
    left: -14%;
    filter: blur(var(--cbb));

    transition: 1s;
    
}

.shark_3{
    top: 0%;
    right: -20%;
    transition: 2s;
}

.angel1_3{
    bottom: 2%;
    right: 6.5%;
}

.angel2_3{
    bottom: 15%;
    right: 20%;
}

.flyfish_3{
    bottom: 25%;
    left: 15%;
}

.flyworm_3{
    bottom: 1%;
    left: 40%;
}

.light_3{
    top: 0;
    left: 3%;
}

.textpage4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    color: #0f52b5;
    transition: .5s;
}

.buttonpage4{
    color: #4ca6c1;
    margin-top: 38%;
}

.fish-gallery {
    margin-top: 18%;
    width: calc(100% + 200px);
    position: relative;
    display: grid;
    grid-auto-flow: column;
    gap: 100px;
    /* left: -200px; */
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    transition: .7s;
}

.fish-gallery::-webkit-scrollbar {
    display: none;
}

.fish {
    position: relative;
    height: 400px;
    aspect-ratio: 1/1;
}
.fish > img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.moreinfo{
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}
.moreinfo > img{
    width: 150px;
}

.fish-card{
    /* background: rgba(0, 0, 0, 0.5); */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    transition: all 1s;
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    z-index: 100;
}

.data-card > img{
    position: relative;
    /* width: 950px; */
    height: auto;
    margin: auto;
}

.arrow{
    position: relative;
}

.arrow.left{
    transform: rotateY(180deg)
}

.bgCard{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.island_4{
    bottom: -10%;
    left: -3%;
    transition: 2s;
}

.wave_4{
    width: 140%;
    bottom: -20%;
    left: -30%;
    transition: 2s;
}

.coralleft_4{
    bottom: 17%;
    left: -4%;
    
}

.coralright_4{
    bottom: 17%;
    right: -7%;
}

.bubble1_4{
    top: 14%;
    left: 14%;
}

.bubble2_4{
    top: 17%;
    right: 7%;
}

.rock_4{
    bottom: 0%;
    left: -3%;
    transition: 1s;
}

.textpage5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 23%;
    color: #0f52b5;
    transition: .5s;
}

.buttonpage5{
    color: #4ca6c1;
    margin-top: 38%;
}

.deck{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 41%;
}

/* card page 5 */

.flip-card {
    background-color: transparent;
    width: 258px;
    height: 375px;
    perspective: 1000px;
    position: absolute;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 2s;
  }
  
  .flip-card[data-open="-1"] .flip-card-inner {
    transform: rotateY(0deg);
  }
  .flip-card[data-open="1"] .flip-card-inner {
    transform: rotateY(-180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
  }

  .fc1{
    left: 14.5%;
    bottom: -50%;
    transition: 1s 0s;
  }
  .fc2{
    bottom: -50%;
    transition: 1s .2s;
  }

  .fc3{
    left: 64%;
    bottom: -50%;
    transition: 1s .4s;
  }

/* end card page 5 */

.light_5{
    top: 6%;
    left: -9%;
}

.rock_5{
    top: -18%;
    left: -3%;
    transition: .5s;
}

.textpage6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-left: 28%;
    color: white;
    transition: 1.5s;
}

.buttonpage6{
    color: white;
    margin-top: 2%;
}

.fishback_6{
    top: 20%;
    left: 5%;
}

.rockback_6{
    bottom: 30%;
    left: -1%;
    transition: 3s;
}

.seaweedback_6{
    bottom: 10%;
    left: -2%;
}

.rockmid_6{
    bottom: 13%;
    left: -1.5%;
    transition: 2.8s;
}

.coralmid_6{
    bottom: 0;
    left: -2%;
}

.coralfront_6{
    bottom: -10%;
    left: -3%;
    transition: 2.3s .5s;
}

.light_6{
    top: 0;
    left: 0;
}
.filter_6{
    width: 107%;
    top: 0;
    left: -3.5%;
}

.trash1_6{
    top: 0%;
    left: 25%;
    transition: 5s;

}
.trash2_6{
    top: 0%;
    left: 33%;
    opacity: .5;
    transition: 5s;
}
.trash3_6{
    top: 0%;
    left: 47%;
    transition: 5s;
}
.t1{
    position: absolute;
    text-align: center;
    top: 100px;
    z-index: 100;
}
.c2{
    bottom: -20%;
    transition: 1.5s;
}

