*{
    box-sizing: border-box;
    font-family: FC-Orbit, sans-serif;
}

html {
    overflow: hidden;
}

@font-face {
    font-family: FC-Orbit;
    src: url('./asset/font/FC_OrbitRounded.ttf');
    font-weight: bold;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(asset/SVG/seabg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: FC-Orbit, sans-serif;
    z-index: 2;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
}

.background{
    position: fixed;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.light {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(asset/light_1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    left: -60%;
    opacity: .5;
    z-index: 0;
    animation: toRight 10s linear 6s infinite, opal 9s ease-in-out 7s infinite;
}

@keyframes opal {
    0% { opacity: 1;}
    25% { opacity: .5;}
    50% { opacity: .8}
    75% { opacity: .3;}
    100% { opacity: 1;}
}

.wave1 {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(asset/SVG/wave1.svg);
    background-repeat: no-repeat;
}

.wave2 {
    width: 80%;
    height: 80%;
    position: absolute;
    background-image: url(asset/SVG/wave2.svg);
    background-repeat: no-repeat;
    top: 28%;
}

.bground {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(asset/SVG/background.svg);
    background-repeat: no-repeat;
    background-position: center center;
    bottom: -15%;
    z-index: -3;
}

.ground {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(asset/SVG/sand.svg);
    background-repeat: no-repeat;
    background-position: center;
    bottom: -40%;
    z-index: -2;
}

.foreground {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(asset/SVG/foreground.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    bottom: -13%;
    z-index: 0;
}

.bin {
    top: -200px;
    position: absolute;
    /* background-color: hsl(0, 71%, 62%); */
    /* background-image: url(./asset/trash/trash1.png); */
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    animation: linear;
    animation-name: bin_down;
    animation-duration: 60s;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root{
    --posx: 250px;
    --posy: -100px;
}


#bin1 {
    background-image: url(./asset/trash/SVG/trash1.svg);
    width: 100px;
    height: 100px;
    visibility: hidden;
}

#bin2 {
    background-image: url(./asset/trash/SVG/trash2.svg);
    width: 100px;
    height: 100px;
    visibility: hidden;
}

#bin3 {
    background-image: url(./asset/trash/SVG/trash3.svg);
    width: 100px;
    height: 100px;
    visibility: hidden;
}

#bin4 {
    background-image: url(./asset/trash/SVG/trash4.svg);
    width: 100px;
    height: 100px;
    visibility: hidden;
}

#bin5 {
    background-image: url(./asset/trash/SVG/trash5.svg);
    width: 100px;
    height: 100px;
    visibility: hidden;
}

#bin6 {
    background-image: url(./asset/trash/SVG/trash6.svg);
    width: 100px;
    height: 100px;
    visibility: hidden;
}

#bin7 {
    background-image: url(./asset/trash/SVG/trash7.svg);
    width: 100px;
    height: 100px;
    visibility: hidden;
}

#bin8 {
    background-image: url(./asset/trash/SVG/trash8.svg);
    width: 100px;
    height: 100px;
    visibility: hidden;
}


#bin9 {
    background-image: url(./asset/trash/SVG/trash9.svg);
    width: 100px;
    height: 100px;
    visibility: hidden;
}


#bin10 {
    background-image: url(./asset/trash/SVG/trash10.svg);
    width: 100px;
    height: 100px;
    visibility: hidden;
}


#bin11 {
    background-image: url(./asset/trash/SVG/trash11.svg);
    width: 100px;
    height: 100px;
    visibility: hidden;
}


#star {
    background-image: url(./asset/SVG/star_item.svg);
    width: 100px;
    height: 100px;
    visibility: hidden;
    justify-content: end;
    align-items: start;
}


#fish1{
    background-image: url(./asset/fish.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 400px;
    animation: linear;
    animation-name: toLeft;
    animation-duration: 21s;
    position: absolute;
    top: 40%;
    left: 110%;
    overflow: hidden;
    animation-fill-mode: forwards;
    z-index: -1;
    opacity: .8;
    animation-iteration-count: infinite;
}

#fish2{
    background-image: url(./asset/fish_group2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 400px;
    animation: linear;
    animation-name: toRight;
    animation-duration: 24s;
    position: absolute;
    top: 40%;
    left: -10%;
    overflow: hidden;
    animation-fill-mode: forwards;
    z-index: -1;
    opacity: .8;
    animation-iteration-count: infinite;
}

#fish3{
    background-image: url(./asset/fish_group1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 400px;
    animation: linear;
    animation-name: toLeft;
    animation-duration: 17s;
    position: absolute;
    top: 50%;
    left: 130%;
    overflow: hidden;
    animation-fill-mode: forwards;
    z-index: -1;
    opacity: .8;
    animation-iteration-count: infinite;
}

#fish4{
    background-image: url(./asset/fish_group3.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 300px;
    animation: linear;
    animation-name: toRight;
    animation-duration: 24s;
    position: absolute;
    top: 5%;
    left: -40%;
    overflow: hidden;
    animation-fill-mode: forwards;
    z-index: -1;
    opacity: .8;
    animation-iteration-count: infinite;
}

.bubble {
    background-image: url(asset/SVG/bubble.svg);
    width: 120px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    opacity: 0;
    animation: floatopacity linear infinite;
}

/* .grain {
    width: 100%;
    height: 100%;
    background-image: url(asset/grain.png);
    background-repeat: no-repeat;
    z-index: 1;
} */

.b1{
    top:55%;
    left:82%;
    animation-delay: 5.5s;
    animation-duration: 4.5s;
}

.b2{
    top:45%;
    left:52%;
    animation-delay: 4s;
    animation-duration: 5s;
}

.b3{
    top:30%;
    left:5%;
    animation-delay: 3.7s;
    animation-duration: 4s;
}

@keyframes floatopacity {
    10%  {transform: translateY(0);
        opacity: 0.8;}
    100% {transform: translateY(-200px);
        opacity: 0;}
}

@keyframes bin_down {
    0%   {translate: 0px 0px;}
    5%  {translate: 0px 950px;}
    100% {translate: 0px 50px;}
}

@keyframes collect {
    from {transform: translateY(0px);}
    to {transform: translateY(-200px);}
}

@keyframes toLeft {
    from   {transform: translateX(0);}
    to     {transform: translateX(-2500px);}
}
@keyframes toRight {
    from   {transform: translateX(0);}
    to     {transform: translateX(2500px);}
}

.menu {
    width: 100%;
    position: absolute;
    left: calc(50% - 125px);
    display: flex;
    align-items: center;
    padding-top: 1rem;
    margin: 0 2rem;
    visibility: hidden;
}

.menu h1{
    font-size: 3rem;
    margin: 0.5rem;
    color: white;
}

.bar {
    display: grid;
    grid-template-columns: 200px 1fr;
    place-items: center;
}

.timer .outer {
    height: 90px;
    width: 170px;
    background-image: url("asset/time.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar .outer { 
    height: 70px;
    width: 280px;
    background-image: url("asset/score.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game_over .outer, #tutorial .outer{
    display: flex;
    height: 90px;
    width: 250px;
    border-radius: 3rem;
    background:  linear-gradient(90deg, rgba(222,161,62,255) 0%, rgba(249,211,146,255) 50%, rgba(222,161,62,255) 100%);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.inner{
    display: flex;
    flex-direction: column;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    background: linear-gradient(to bottom, #68B9B1, #446DB0, #3F509F);
    border-radius: 2.5rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.bar h2 {
    color: #3F509F;
    font-size: 2.5rem;
    text-align: center;
    margin-left: 2.5rem;
}

.inlist h1 {
    font-size: 1.7rem;
    margin: 0rem 0.5rem 0.5rem 0.5rem;
    color: #3c8b9e;
}

.inlist img {
    width: 40px;
    height: 40px;
    padding-top: 3px;
    transform: translateY(5px);
}

#game_over, #tutorial {
    position: absolute;
    height: 550px;
    width: 850px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    visibility: hidden;
}

#tutorial {
    top: 45%;
}

#game_over {
    height: 530px;
    width: 640px;
}

#game_over .outer, #tutorial .outer {
    height: 100%;
    width: 100%;
}

#game_over .inner , #tutorial .inner {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    background: linear-gradient(90deg, rgba(93,201,248,255)0%, rgba(156,250,244,255) 51%, rgba(93,201,248,255)100%);
    border-bottom: 5px solid #7dd0d4;
}

#tutorial .inner .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#game_over .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 410px;
    width: 440px;
    border-radius: 2rem; 
}

.boxitem {
    width: 100%;
    height: 100%;
    background-image: url(asset/final.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
}

#tutorial .wrapper h1{
    color: #262262;
    background-color: #fff;
    padding: 0.25rem 2rem;
    border-radius: 4rem;
    font-size: 3rem;
}

.wrapper h2 {
    font-size: 2rem;
    margin: 0;
}

#score {
    position: absolute;
    top: 93%;
    left: 50%;
    color: #262262;
    font-size: 2.7rem;
    padding: 0;
    margin: 1rem;
    background-color: transparent;
}

.grade {
    width: 100%;
    height: 100%;
}

.grade .pic {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
}

.pic .char {
    height: 300px;
    width: 300px;
    background-position: center center;
    background-repeat: no-repeat;
}

.pic h1, h2 {
    width: 150%;
    text-align: center;
    color: #262262;
    padding: 0;
    margin: 0;
}

.pic h1 {
    font-size: 4.5rem;
}

.pic h2 {
    font-size: 2.5rem;
    transform: translateY(-10px);
}

#content1 .char{
    background-image: url("/GameFindItem/asset/character/char1_1.svg");
}
#content2 .char{
    background-image: url("/GameFindItem/asset/character/char2_1.svg");
}
#content3 .char{
    background-image: url("/GameFindItem/asset/character/char3_1.svg");
}

.guide {
    padding: 0rem 2rem;
}

.guide .inlist{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.guide .inlist span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}


button{
    width: fit-content;
    background: none;
    /* padding: .75rem 2rem; */
    /* border-radius: 60px; */
    align-items: center;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.outterbutton{
    position: relative;
    width: fit-content;
    background: linear-gradient(90deg, rgba(222,161,62,255) 0%, rgba(249,211,146,255) 50%, rgba(222,161,62,255) 100%);
    padding: .4rem .4rem;
    border-radius: 60px;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.innerbutton{
    width: fit-content;
    background: linear-gradient(90deg, rgba(93,201,248,255)0%, rgba(156,250,244,255) 51%, rgba(93,201,248,255)100%);
    padding: .65rem 1.8rem;
    border-radius: 60px;
    align-items: center;
    border-bottom: 5px solid #7dd0d4;
    cursor: pointer;
    z-index: 10;
}

a {
    color: #3c8b9e;
}

.innerbutton::after{
    content: "";
    left: 30%;
    top: 13%;
    width: 40%; 
    height: 4px;
    position: absolute; 
    background-color: white;
    border-radius: 100%;
}

#tutorial .inner::after, #game_over .inner::after{
    content: "";
    left: 20%;
    top: 2.5%;
    width: 60%; 
    height: 6px;
    position: absolute; 
    background-color: white;
    border-radius: 100%;
}

.star1{
    position: absolute;
    bottom: -6%;
    left: -1%;
    scale: 0.8;
}
.star2{
    position: absolute;
    top: -7%;
    right: -3%;
    scale: 0.9;
    rotate: 45deg;
}

h4{
    z-index: 100;
    font-size: 1.8rem; 
    line-height: 130%;
    margin: 0;
}