@font-face {
    font-family: FC-Orbit;
    src: url('./asset/font/FC_OrbitRounded.ttf');
    font-weight: bold;
}

body {
    height: 100vh;
    width: 100%;
    background-color: aqua;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: FC-Orbit, sans-serif;
}

.background{
    position: relative;
    width: 100%;
    height: 100%;
}

.bin {
    position: absolute;
    /* background-color: red; */
    /* background-image: url(./asset/trash/trash1.png); */
    background-repeat: no-repeat;
    width: 1000px;
    height: 1000px;
    cursor: pointer;
    animation: linear;
    animation-name: bin_down;
    animation-duration: 60s;
}

:root{
    --posx: 500px;
    --posy: -200px;
}


#bin1 {
    background-image: url(./asset/trash/trash1.png);
    width: 319px;
    height: 455px;
    visibility: hidden;
}

#bin2 {
    background-image: url(./asset/trash/trash2.png);
    width: 266px;
    height: 322px;
    visibility: hidden;
}

#bin3 {
    background-image: url(./asset/trash/trash3.png);
    width: 242px;
    height: 148px;
    visibility: hidden;
}

#bin4 {
    background-image: url(./asset/trash/trash4.png);
    width: 162px;
    height: 179px;
    visibility: hidden;
}

#bin5 {
    background-image: url(./asset/trash/trash5.png);
    width: 389px;
    height: 265px;
    visibility: hidden;
}

#bin6 {
    background-image: url(./asset/trash/trash6.png);
    width: 113px;
    height: 129px;
    visibility: hidden;
}

#bin7 {
    background-image: url(./asset/trash/trash7.png);
    width: 150px;
    height: 116px;
    visibility: hidden;
}

#bin8 {
    background-image: url(./asset/trash/trash8.png);
    width: 238px;
    height: 300px;
    visibility: hidden;
}


#bin9 {
    background-image: url(./asset/trash/trash9.png);
    width: 113px;
    height: 136px;
    visibility: hidden;
}


#bin10 {
    background-image: url(./asset/trash/trash10.png);
    width: 90px;
    height: 90px;
    visibility: hidden;
}


#bin11 {
    background-image: url(./asset/trash/trash11.png);
    width: 316px;
    height: 312px;
    visibility: hidden;
}


#bin12 {
    background-image: url(./asset/trash/trash12.png);
    width: 239px;
    height: 292px;
    visibility: hidden;
}

#fish1{
    background-image: url(./asset/fish.png);
    width: 239px;
    height: 292px;
    background-repeat: no-repeat;
    width: 1000px;
    height: 1000px;
    animation: linear;
    animation-name: fish_move1;
    animation-duration: 50s;
    position: absolute;
    top: 40%;
    left: 30%;
    overflow: hidden;
    animation-fill-mode: forwards;
}
#fish2{
    background-image: url(./asset/fish_group2.png);
    width: 239px;
    height: 292px;
    background-repeat: no-repeat;
    width: 1000px;
    height: 1000px;
    animation: linear;
    animation-name: fish_move2;
    animation-duration: 50s;
    position: absolute;
    top: 60%;
    right: 0%;
    overflow: hidden;
    animation-fill-mode: forwards;
}

@keyframes bin_down {
    0%   {top: -200px;}
    5%  {top: 750px;}
    100% {top: 800px;}
}

@keyframes fish_move1 {
    0%   {left: 40%;}
    100% {left: -80%;}
}
@keyframes fish_move2 {
    0%   {right: 60%;}
    100% {right: -80%;}
}
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 2rem;
    margin-bottom: 8rem;
    
}

.bar {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.outer{
    display: flex;
    height: 110px;
    width: 420px;
    border-radius: 5rem;
    background: white;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.inner{
    display: flex;
    flex-direction: column;
    height: 90px;
    width: 400px;
    background: linear-gradient(to bottom, #68B9B1, #446DB0, #3F509F);
    border-radius: 4rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.bar h2 {
    color: #3F509F;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 10px;
}

h1{
    font-size: 3rem;
    color: white;
}

.time {
    display: flex;
    justify-self: end;
}


#game_over, #tutorial {
    position: absolute;
    height: 1100px;
    width: 1700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    visibility: hidden;
}

#game_over .outer, #tutorial .outer {
    height: 100%;
    width: 100%;
}

#game_over .inner , #tutorial .inner {
    height: 1050px;
    width: 1650px;
    background: linear-gradient(to bottom, #446DB0, #3F509F, #2F1086);
}

#game_over .inner .wrapper , #tutorial .inner .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.wrapper h1{
    color: #262262;
    background-color: #fff;
    padding: 0.5rem 3rem;
    border-radius: 6rem;
    font-size: 5rem;
}

.guide {
    padding: 0rem 4rem;
}

.guide .inlist{
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
}

.guide .inlist span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    cursor: pointer;
}

#reset {
    text-align: center;
    font-size: 4rem;
    border: solid 0.8rem #fff;
    border-radius: 4rem;
    background: linear-gradient(to bottom, #446DB0, #3F509F, #2F1086);
}

#reset a{
    color: #fff;
    border-radius: 1rem;
    margin: 4rem;
}